<head>
    <link rel="stylesheet" href="styles.css">
</head>
<footer class="footer">
    <div class="f-info" >
        <div class="f-info-social">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div>&copy; 2024 logisticsystem All rights reserved.</div>
        <div class="f-info-link">
            <a href="/privacy" style="color: rgb(100, 217, 219);">Privacy</a>
            <a href="/terms"  style="color: rgb(100, 217, 219);">Terms</a>
        </div>
    </div>
</footer>
<style>
    .f-info{
        background-color: #7e7e7e;
        color: #fff;
        text-align: center;
        padding: 20px;
        /* width: auto; */
      }
      .footer{
        margin-top: auto;
        height: 5rem;
        background-color: rgb(117, 111, 111);
        width: auto;
        
      }
</style>