<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact Us</title>
  <link rel="stylesheet" href="contact_us.css">
</head> -->
<head><link rel="stylesheet" href="contact_us.css"></head>
<% layout("/layout/boilerplate") -%>
<body>
  <div class="container">
    <h1>Contact Us</h1><br><br>
  <h2>Contact Information</h2>
  <p>Email: <a href="mailto:LogiTrack@gmail.com">LogiTrack@gmail.com</a></p>

  <h2>Chat with Us</h2>
  <p>Got a quick question? Chat with our virtual assistant for instant assistance. <br>
     Our chatbot is available 24/7 to help you with any queries you may have.</p><br><br>
  <p><a href="help.ejs">Click here to Chat</a></p> 
  </div>
  
</body>
</html>
